body {
    font-family: Roboto;
}
.top {
    background: #E0E1E2;
    padding-top: 25px;
    padding-bottom: 48px;
}
.heading {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #2F3132;
    padding-bottom: 20px;
}
.text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
}
.text-margin {
    margin-left: 34px;
    margin-right: 33px;
}
.header {
    display: flex;
    justify-content: center;
}
.center-content {
    display: flex;
    justify-content: center;
}
.text_flow {
    margin-bottom: 16px;
    text-align: left;    
}
.info-content {
    display: flex;
    justify-content: center;
    gap: 3px;
    padding-top: 30px;
    padding-bottom: 28px;
}
.text-setings {
    color: #fff;
    margin-left: 5px;
    margin-right: 11px;
}
.top_img {
    margin-top: 94px;
    height: 230px;
    background-image: url(img/MX-Master\ 1.png);
    background-size: contain;
    margin-bottom: 41px;
    background-repeat: no-repeat;
    background-position: center;
}
.top_arrow {
    margin-top: 40px;
}
.top_text-margin {
    margin-left: 59px;
    margin-right: 59px;
}
/* bluetooth */

.bluetooth {
    background: #EDEDED;
    padding-top: 42px;
    padding-bottom: 18px;
}
.bluetooth_icon {
    padding-bottom: 27px;
}
.bluetooth_heading {
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    color: #C4C4C4;
    margin-top: 31px;
}
.blutooth_img {
    height: 218px;
    background-image: url(img/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;   
    background-position: center bottom;
}

/* section 3 */

.section-three {
    background: #FFFFFF;
    padding-top: 70px;
    padding-bottom: 77px;
}
.info__item {
    border: 1px solid #2F3132;
    flex-basis: 166px;
    min-height: 94px;
}
.info-heading {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
}
.carousel {
    margin-bottom: 100px;
}
.info_text {
    margin-left: 67px;
    margin-right: 61px;
}

.info_heading-item {
    margin-bottom: 5px; 
}

/* section 4 */

.section-four {
    background-color: #EDEDED;
    padding-top: 70px;
    padding-bottom: 218px;
    background-image:url(img/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
.flow__ol {
    margin-top: 30px;
}
/* section five */
.section-five {
    background: #EDEDED;
    padding-top: 70px;
}

.setting__slider {
    margin: 35px 22px 98px 23px;
}
/* mini section 6 */
.mini_setcion-six {
    background: #C4C4C4;
    padding: 23px 22px 26px 29px;
}
.section__icons {
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
    margin-bottom: 20px;
}
/* section 7 */
.section-text {
    padding-top: 70px;
    padding-bottom: 20px;
}
.section-img {
    height: 310px;
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
}
.sim1 {
    background-image: url(img/image1.png);
}
.sim2 {
    background-image: url(img/image2.jpg);
}
/* footer */
.footer {
    background: #2F3132;
    height: 75px;
    font-style: normal;
    font-weight: normal;
    font-size: 7px;
    line-height: 8px;
    text-align: center;
    color: #C7C8C8;
    padding-top: 22px;
}
